'scopeName': 'source.wolfie'
'fileTypes': [
  'wf'
]
'name': 'wolfie'
'patterns': [
  {
    'name': 'string.wolfie'
    'match': '\\"[^\\"]*\\"'
  }
  {
    'name': 'constant.numeric.real.wolfie'
    'match': '\\d*(\\d\\.|\\.\\d)\\d*'
  }
  {
    'name': 'constant.numeric.integer.wolfie'
    'match': '\\d+'
  }
  {
    'name': 'keyword.control.wolfie'
    'match': 'if|else|while|break|continue|switch|case|return'
  }
  {
    'name': 'keyword.operator.arithmetic.wolfie'
    'match': '\\+|\\-|\\*\\*|\\/|\\(|\\)|\\{|\\}'
  }
  {
    'name': 'keyword.operator.logical.wolfie'
    'match': 'and|or|not|\\!|\\&\\&|\\|\\|'
  }
  {
    'name': 'support.function.builtin.wolfie'
    'match': 'print'
  }


  {
    'begin': '^\\s*(?!((print)|(if)|(while)))(?=[(A-Za-z][A-Za-z0-9]*\\s*\\()(?=[^;]*\\{)'
    'end': '(\\))\\s*(?=\\{)'
    'endCaptures':
      '1':
        'name': 'punctuation.definition.parameters.end.wolfie'
      '2':
        'name': 'punctuation.section.function.begin.wolfie'
    'name': 'meta.function.wolfie'
    'patterns': [
      {
        'name': 'keyword.control.wolfie'
        'match': 'if|else|while|break|continue|switch|case|return'
      }
      {
        'name': 'support.function.builtin.wolfie'
        'match': 'print'
      }
      {
        'begin': '(?=[A-Za-z][A-Za-z0-9]*)'
        'contentName': 'entity.name.function.wolfie'
        'end': '(?![A-Za-z0-9])'
      }
      {
        'begin': '(\\()'
        'beginCaptures':
          '1':
            'name': 'punctuation.definition.parameters.begin.wolfie'
        'contentName': 'meta.function.parameters.wolfie'
        'end': '(?=\\)\\s*\\{)'
        'patterns': [
          {
            'match': '\\b([a-zA-Z][a-zA-Z0-9]*)\\s*(?:(,)|(?=\\)))'
            'captures':
              '1':
                'name': 'variable.parameter.function.wolfie'
              '2':
                'name': 'punctuation.separator.parameters.wolfie'

          }
        ]
      }
    ]
  }

  {
    'match': '(\\b[A-Za-z][A-Za-z0-9]*)\\s*\\('
    'captures':
      '1':
        'name': 'meta.name.function.wolfie'

  }
  {
    'name': 'variable.other.wolfie'
    'match': '\\b[A-Za-z][A-Za-z0-9_]*\\b'
  }
]
